.upload-item {
    position: relative;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid rgba(34, 139, 34, 0.3);
    padding: 0 5px;

    &:not(:first-child) {
        border-top: 1px;
    }

    .upload-item-fill {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(34, 139, 34, .15);
    }
}
