{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {rel, "server", "1", [
        % Erlang: kernel & core
        kernel,
        stdlib,
        sasl,

        % Erlang: cryptography and SSL
        asn1,
        crypto,
        public_key,
        inets,
        ssl,

        % Erlang: compiler and tools
        compiler,
        syntax_tools,

        % Dependencies
        aplib,
        aptools,
        cerberus,
        igor,
        gproc,
        eunzip,
        jose,
        jsx,
        ibrowse,
        cowlib,
        ranch,
        cowboy,
        gun,
        epgsql,
        poolboy,
        erl_gm,
        quickrand,
        uuid,

        % Applications
        util,
        db,
        access,
        sendgrid,
        stripe,
        captcha,
        web,
        server
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "server"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {app, sasl, [{incl_cond, include}]}
]}.

{target_dir, "../build"}.

{overlay, [
    {mkdir, "log"},
    {mkdir, "var"},
    {mkdir, "var/captcha"},
    {mkdir, "var/uploads"},
    {mkdir, "web"},
    {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {copy, "files/server", "bin/server"},
    {copy, "files/server.conf", "etc/server.conf.sample"},
    {copy, "files/vm.args", "etc/vm.args.sample"},
    {copy, "../etc/app.config", "etc/app.config.sample"},
    {copy, "../web/*", "web/"}
]}.
