.mat-dialog-actions.solid {
    background-color: #f7f8fa;
    border-color: #f7f8fa;
}

.swal-danger {
    background-color: #f27474 !important;

    &:hover {
        background-color: #f2b4b4 !important;
    }
}
