.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle > i {
    font-size: 1.78rem;
    font-weight: 600;
    top: -0.88rem;
    left: -0.88rem;
    position: absolute;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
    padding-top: 0.36rem;
}
